<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank" href="http://facebook.com/puratchidasanm">
                        Facebook
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://twitter.com/puratchidasan">
                        Twitter
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://instagram.com/puratchidasanm">
                        Instagram
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/puratchidasan/">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Trademark <!--by-->
            <!--<a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.-->
        </div>
    </div>
</footer>
