<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank" rel="noopener" href="http://facebook.com/puratchidasanm">
                        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener" href="http://twitter.com/puratchidasan">
                        <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" alt="" matTooltip="Twitter" matTooltipPosition="above">
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener" href="http://instagram.com/puratchidasanm">
                        <img src="/assets/img/insta.png"  alt="" matTooltip="LinkedIn" matTooltipPosition="above">
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/puratchidasan/">
                        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener" href="https://github.com/puratchidasan">
                        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png" alt="" matTooltip="Github" matTooltipPosition="above">
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener" href="https://stackoverflow.com/users/12723998/puratchidasan?tab=profile">
                        <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/stackoverflow-hexagon-social-media-32.png" alt="" matTooltip="StackOverflow" matTooltipPosition="above">
                    </a>
                </li>               
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Trademark <!--by-->
        </div>
    </div>
</footer>
