<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <em class="material-icons">content_copy</em>
                      </div>
                      <p class="card-category">My Experience</p>
                      <h3 class="card-title">14
                          <small>Years</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <em class="material-icons text-danger">person</em>
                          <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/puratchidasan">Connect in Linkedin</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <em class="material-icons">store</em>
                      </div>
                      <p class="card-category">Linkedin Connections</p>
                      <h3 class="card-title">2468</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <em class="material-icons">date_range</em>
                          <a target="_blank" rel="noopener" href="https://www.linkedin.com/mynetwork/invite-connect/connections/">Last 24 Hours</a>                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <em class="material-icons">info_outline</em>
                      </div>
                      <p class="card-category">Repositories</p>
                      <h3 class="card-title">61</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <em class="material-icons">local_offer</em>
                          <a target="_blank" rel="noopener" href="https://github.com/puratchidasan">Tracked from Github</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">                        
                          <em class="fa fa-twitter"></em>
                      </div>
                      <p class="card-category">Followers</p>
                      <h3 class="card-title">+230</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <em class="material-icons">update</em>
                          <a target="_blank" rel="noopener" href="https://twitter.com/puratchidasan/followers">Follow Me...</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">My Clients</h4>
                      <p class="card-category">
                          <span class="text-success"><em class="fa fa-long-arrow-up"> Growing</em>  technically!!!</span></p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <em class="material-icons">access_time</em> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">My Technical Skills</h4>
                      <p class="card-category">In the scale of 100</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <em class="material-icons">access_time</em> Skills updated 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
