<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Periodic table</h4>
                      <p class="card-category"><a target="_blank" rel="noopener" href="https://ptable.com/#Properties">Follow to the link to view all elements</a></p>
                  </div>                          
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                  </div>
                  <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Springboot REST APIs</h4>
                        <p class="card-category"><a target="_blank" rel="noopener" href="http://140.238.89.162:8088/">CRUD API 1.0.0 </a></p>
                    </div>                       
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSourceStudent" matSort class="mat-elevation-z8">
                        <!-- Name Column -->
                            <ng-container matColumnDef="rollNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Roll No. </th>
                              <td mat-cell *matCellDef="let student"> {{student.rollNo}} </td>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="firstName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                              <td mat-cell *matCellDef="let student"> {{student.firstName}} </td>
                            </ng-container>
                          
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="lastName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                              <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="marks">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Marks </th>
                                <td mat-cell *matCellDef="let student"> {{student.marks}} </td>
                              </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedStudentColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedStudentColumns;"></tr>
                          </table>                          
                        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                      </div>
                
                 <!-- <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>City</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let people of data">
                                    <td>{{people.id}}</td>
                                    <td>{{people.Name}}</td>
                                    <td>{{people.country}}</td>
                                    <td>{{people.city}}</td>
                                    <td  class="text-primary">INR {{people.salary}}</td>
                                </tr>
                            </tbody>
                        </table>
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td class="text-primary">
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td class="text-primary">
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td class="text-primary">
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td class="text-primary">
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td class="text-primary">
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td class="text-primary">
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>-->
              </div>
          </div>
          <!--<div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Table on Plain Background</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>-->
      </div>
  </div>
</div>
