<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">My Details</h4>
                      <p class="card-category">Short summary</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                  
                            <div class="panel-body">
                              <p><strong>First Name:</strong> Puratchidasan</p>
                              <p><strong>Lastname:</strong> Munusami</p>
                              <p><strong>Address:</strong> 23 Place Saint-Antoine</p>
                              <p><strong>Country:</strong> Country</p>
                              <p><strong>Phone No:</strong> +32 470 78 24 68</p>
                              <p><strong>Mail:</strong> puratchidasan@gmail.com</p>
                            </div>                          
                          </div>
                          <div class="row">
                              <!--<div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text">
                                </mat-form-field>
                              </div>-->
                          </div>
                          <div class="row">
                              <!--<div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="text">
                                </mat-form-field>
                              </div>-->
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label><strong>About Me</strong></label>                                
                                   <label>Highly motivated IT Technical Consultant with around 14 years of extensive experience in Software Development Life Cycle (SDLC) including requirements analysis, design specification, coding and testing of enterprise applications.</label>                                 
                              </div>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" alt=" face marc"/>
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Technical Consultant</h6>
                      <h4 class="card-title">Puratchidasan Munusami</h4>
                      <p class="card-description">
                        Java | Springboot | Microservices | DevOps(Java) | Agile | Jenkins | Docker | Confluence | Ansible | GIT | TFS | JUnit | SDET
                      </p>
                      <a target="_blank" rel="noopener" href="https://www.facebook.com/puratchidasanm" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
